extends layout

block content
	h1 #{userName}
	p sid: 
		span#sidSpan #{sid}

	a.btn.btn-default.buttonSpace(href="http://192.168.15.103:9001/?sid=#{sid}", target="player-window") Player
	a.btn.btn-default.buttonSpace(href="http://192.168.15.103:9002/?sid=#{sid}", target="search-window") Search for music

	br
	br
	h4 Who is connected
	div.clients

script(src='/socket.io/socket.io.js')
