extends layout

block content
    h1 Where are you?
    form(role='form',method='POST')
        .form-group
          label(for='userName') Room name:
          input#userName.form-control(type='text', placeholder='Kitchen or Living Room or Anything else', name='userName')
        button.btn.btn-default(type='submit') Submit
