body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background: #d2ebf9; /* Old browsers */
  background: -moz-linear-gradient(left,  #d2ebf9 1%, #feffff 22%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(1%,#d2ebf9), color-stop(22%,#feffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #d2ebf9 1%,#feffff 22%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #d2ebf9 1%,#feffff 22%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #d2ebf9 1%,#feffff 22%); /* IE10+ */
  background: linear-gradient(to right,  #d2ebf9 1%,#feffff 22%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9', endColorstr='#feffff',GradientType=1 ); /* IE6-9 */
}

a {
  color: #00B7FF;
}

h1{
  font: 48px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #222;
}

.blocktext {
  /* horizontal center */
  margin-left: auto;
  margin-right: auto;
  width: 12em;

  margin-top: 3em;
  font-size: 24px;
}


.eventName{
  color: #333;
  margin-right: 30px;
}
.data{
  color: #227;
}

.buttonSpace{
  margin-right: 30px;
}